<div class="card" style="width: 18rem;">
  <img src="{{img}}" class="card-img-top" alt="{{title}}">
  <div class="card-body">
    <h5 class="card-title">Наименование: {{title}}</h5>
    <p class="card-text">Описание:{{desc}}</p>
    <a href="/products/{{_id}}/view/" class="btn btn-primary">Подробнее</a>
  </div>
</div>